@import '../../variables.scss';  

.navbar {  
    width: $navbar-width;  
    background: $primary;  
    height: calc(100% - #{$page-header-height});  
    position: absolute;  

    .navigation-item {  
        height: 60px;  
        display: flex;  
        align-items: center;  
        padding-left: 15px;  
        border-left: 5px solid $primary;  

        .navigation-text {  
            color: #ffffff;  
        }  

        &.selected {  
            border-left: 5px solid #ffffff;  
        }  
    }  
}  