@import './components/app/App.scss'; 
@import './components/page-header/PageHeader.scss'; 
@import './components/navbar/Navbar.scss'; 
@import './components/current-price/CurrentPrice.scss'; 
@import './components/timeseries/Timeseries.scss';
@import './components/value-cache/ValueCache.scss';
@import './components/volatility/Volatility.scss';   

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
